/* 
  ANDY BELL CSS RESET
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 
  END CSS RESET
*/

:root {
  --background: hsl(217, 90%, 80%);
  --blue: hsl(217, 100%, 57%);
  --blue-dark: hsl(217, 100%, 20%);
  --blue-hover: hsl(217, 100%, 66%);
  --green: hsl(138, 86%, 38%);
  --green-hover: hsl(138, 97%, 45%);
  --red: hsl(0, 100%, 50%);
  --red-hover: hsl(0, 55%, 72%);
  --grey: hsl(0, 0%, 90%);
  --white: white;
  --sm-border: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.navigate-btn {
  padding: 1rem;
  background-color: var(--blue-dark);
  border: none;
  border-radius: var(--sm-border);
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
}

.navigate-btn:hover {
  cursor: pointer;
  background-color: var(--blue-hover);
}

.action-btn {
  border: none;
  border-radius: var(--sm-border);
  background-color: var(--blue);
  color: white;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
}

.action-btn:hover {
  cursor: pointer;
  background-color: var(--blue-hover);
}

.lock-btn-group {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

/* **** LAYOUT **** */
.app-container {
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 100vw;
  min-width: 100dvw;
  background-color: var(--background);
  display: flex;
}

/* **** SEARCH OPTIONS **** */
.options__container {
  margin: auto;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgb(165, 164, 164);
}
.options__header {
  margin: auto;
  color: white;
  background-color: var(--blue-dark);
  border-radius: 0 0 20px 20px;
}

.options__title {
  text-align: center;
  padding: 1rem;
}

.options__h2 {
  font-size: 1rem;
}

.options__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  padding: 2rem;
}

.button {
  background-color: var(--grey);
  color: #333;
  border: none;
  border-radius: var(--sm-border);
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.button.selected {
  background-color: var(--green);
  color: #fff;
  font-weight: bold;
}

.button:hover {
  background-color: var(--green-hover);
  color: #fff;
}

.options__location {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.location__input {
  background-color: var(--grey);
  border: none;
  border-radius: var(--sm-border);
  padding: 1rem;
}

.options__radius {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.radius__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: var(--grey);
  border-radius: var(--sm-border);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.radius__slider:hover {
  opacity: 1;
}

.radius__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--blue);
  cursor: pointer;
}

.radius__slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--blue);
  cursor: pointer;
}
/* **** PICKING CUISINE ***** */
li {
  list-style: none;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.cuisine__chooser {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.cuisine__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--blue-dark);
  border-radius: 0 0 var(--sm-border) var(--sm-border);
  padding: 1rem;
}

@media (min-width: 768px) {
  .cuisine__chooser {
    min-height: 600px;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    border-radius: var(--sm-border);
  }

  .cuisine__header {
    border-radius: var(--sm-border);
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-grow: 1;
}

.instructions__text {
  width: 20rem;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
}

.cuisine__list {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.cuisine__title {
  font-size: 2rem;
  color: white;
}

.cuisine__dnd-list {
  padding: 1rem;
}

.cuisine__btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cuisine__btn {
  padding: 0.25rem;
}

/* **** CUISINE CARD **** */
.cuisine-card {
  border-radius: 10px;
  padding: 0.5rem;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  color: white;
  box-shadow: 0px 0px 5px 1px rgb(194, 194, 194);
}

.cuisine-card__title {
  text-align: center;
  font-size: 1.5rem;
  padding: none;
}

/* **** PICKING RESTAURANT **** */
.restaurant__chooser {
  margin: auto;
  max-width: 400px;
}

/* **** RESTAURANT CARD ***** */
.rest-card {
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgb(194, 194, 194);
}

.rest-card__image-container {
  height: 75px;
  width: 125px;
  object-fit: cover;
}

.rest-card__image {
  border-radius: 10px 0 0 10px;
}

.rest-card__info {
  width: 100%;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rest-card__title {
  font-size: 1rem;
}

.rest-card__yelp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.25rem;
}

.rest-card__reviews {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* **** DRAG AND DROP SORTABLE LIST **** */
.list-container {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container {
  width: 100%;
  margin: 2px;
}

/* **** RESULT CARD **** */
.result__header {
  padding: 1rem;
  text-align: center;
  /* border-radius: var(--sm-border); */
}

.result__title {
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
.result-card {
  margin: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding-top: 2rem;
}

.result-card__image {
  border-radius: 10px;
}

.result-card__lower {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
  align-items: center;
  background-color: white;
  border-radius: 0 0 var(--sm-border) var(--sm-border);
}

.result-card__title {
  text-align: center;
  font-size: 2rem;
  margin: 3px 5px;
}

.result-card__price {
  color: var(--red);
}

.result-card__reviews {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.result-card__link {
  padding-left: 2rem;
}

.result-card__info {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  text-align: center;
}
