body {
  font-family: "Raleway", sans-serif;
}

/* **** PICKING CUISINE ***** */
li {
  list-style: none;
}

.title {
  text-align: center;
}
.cuisine__list {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.cuisine {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}

.cuisine__title {
  font-size: 2rem;
}

.cuisine__btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cuisine__btn {
  padding: 0.25rem;
}

.side-by-side {
  display: flex;
  gap: 2rem;
}
.button {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.button.selected {
  background-color: rgb(239, 120, 200);
  color: #fff;
}

.button:hover {
  background-color: rgb(239, 120, 200);
  color: #fff;
}

.options__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* **** CUISINE CARD **** */
.cuisine-card {
  border-radius: 10px;
  padding: 1rem;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  color: white;
}

.cuisine-card__title {
  text-align: center;
  font-size: 2rem;
}

/* **** RESTAURANT CARD ***** */
.rest-card {
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgb(165, 164, 164);
}

.rest-card__image {
  border-radius: 10px 0 0 10px;
}

.rest-card__info {
  padding: 0 1rem;
}

.rest-card__title {
}

.rest-card__yelp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rest-card__link {
  padding: 0 2rem;
}

/* **** DRAG AND DROP SORTABLE LIST **** */
.list-container {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container {
  width: 100%;
  margin: 0.5rem;
}
