/* **** PICKING CUISINE ***** */
li {
  list-style: none;
}

.title {
  text-align: center;
}
.cuisine__list {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.cuisine {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}

.cuisine__title {
  font-size: 2rem;
}

.cuisine__btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cuisine__btn {
  padding: 0.25rem;
}

.side-by-side {
  display: flex;
  gap: 2rem;
}
.button {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.button.selected {
  background-color: rgb(239, 120, 200);
  color: #fff;
}

.button:hover {
  background-color: rgb(239, 120, 200);
  color: #fff;
}

